<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🚧 Hot Rod Wolrd 🚧</title>
    <link rel="stylesheet" href="../assets/css/hotrod.css" />
    <script src="../transitions.js" type="text/javascript"></script>
    <link rel="icon" href="../img/favicon.ico" type="image/ico">

  </head>
  <body onload="runDemo()" style="background-image: url(../img/background.png)">
    <header class="banner">
      <h1>
        <a class="logo" href="../index.html"
          ><img src="../img/logo.png" alt="Hot Rod World"
        /></a>
      </h1>
      <div class="logo2">
        <img src="../img/header-img.png" alt="hot rod" />
      </div>
    </header>

    <nav class="nav-bar">
      <ul class="ul-bar">
        <li><a class="a-bar" href="../index.html">Inicio</a></li>
        <li><a class="a-bar" href="historia.html">Historia</a></li>
        <li><a class="a-bar" href="eventos.html">Eventos</a></li>
        <li><a class="a-bar" href="contacto.html">Contacto</a></li>
      </ul>
    </nav>

    <section class="cuerpo">
        <h2 class="subtitulo center">Eventos</h2>
        <hr class="hr-inicio" />
        
        
        <div class="eventos">
          <figure class="bloque-eventos">
            <img
              class="fotos"
              src="../img/evento-cromada.jpg"
              alt="hot rod del día"
            />
            <figcaption class="nom-event">
             <p>La Cromada Hot Rod</p> <p>General Rodriguez, Buenos Aires.</p>
            </figcaption>
          </figure>
  
          <figure class="bloque-eventos">
            <img
              class="fotos"
              src="../img/evento-azul.jpg"
              alt="hot rod del día"
            />
            <figcaption class="nom-event">
            <p>Encuentro Nacional de Hot Rods</p> <p>Azul, Buenos Aires.</p> 
            </figcaption>
          </figure>
  
          <figure class="bloque-eventos">
            <img
              class="fotos"
              src="../img/evento-santarosa.jpg"
              alt="hot rod del día"
            />
            <figcaption class="nom-event">
              <p>Encuentro Hot Rod / Rat Rod</p>
               <p>Santa Rosa de Calamuchita, Córdoba.</p> 
            </figcaption>
          </figure>
        </div>
       
      
    </section>

    <!-- <aside>
        <ul>
            <li>a</li>
            <li>v</li>
            <li>c</li>
        </ul>
    </aside> -->
    <footer class="cuerpo futer">
      <div class="slideRight">
        <img id="animate" src="../img/animate.png" alt="animación">
      </div>
      <span> Programación Web - Fundación PROEM / CUVL. </span>
      <a class="contacto" href="mailto:lucasznta@gmail.com">Diseñado por Lucas Zonta.</a>
    </footer>
  </body>
</html>
