<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🚧 Hot Rod Wolrd 🚧</title>
    <link rel="stylesheet" href="../assets/css/hotrod.css" />
    <script src="../transitions.js" type="text/javascript"></script>
    <link rel="icon" href="../img/favicon.ico" type="image/ico">

  </head>
  <body onload="runDemo()" style="background-image: url(../img/background.png)">
    <header class="banner">
      <h1>
        <a class="logo" href="../index.html"
          ><img src="../img/logo.png" alt="Hot Rod World"
        /></a>
      </h1>
      <div class="logo2">
        <img src="../img/header-img.png" alt="hot rod" />
      </div>
    </header>

    <nav class="nav-bar">
      <ul class="ul-bar">
        <li><a class="a-bar" href="../index.html">Inicio</a></li>
        <li><a class="a-bar" href="historia.html">Historia</a></li>
        <li><a class="a-bar" href="eventos.html">Eventos</a></li>
        <li><a class="a-bar" href="contacto.html">Contacto</a></li>
      </ul>
    </nav>

    <section class="cuerpo">
      <article class="nota">
        <h2 class="subtitulo center">Historia</h2>
        <!-- <figure>
          <img class="fotos notaimg" src="../img/historia.png" alt="hot rod del día" />
        </figure> -->
      </article>
      <hr class="hr-inicio" />

      <article class="nota">
        <h3>Inicios</h3>
        <figure>
          <img
            class="fotos notaimg"
            src="../img/inicios.png"
            alt="Citröen 2cv Hot Rod"
          />
        </figure>
        <p>
          Hoy en día se considera Hot Rod a aquel automóvil construido antes de
          1948, que ha sido modificado para aumentar la potencia de su motor,
          reducir el peso de la carrocería y mejorar la suspensión, con objeto
          de ¡hacer que corra!!! O al menos eso era en sus orígenes. Con el
          concepto de producción en serie que introduce Henry Ford, la industria
          del automóvil logra modelar la sociedad. El asfalto cambia
          radicalmente el paisaje de las urbes, el petróleo mana de las fuentes
          y el automóvil se transforma en una pieza imprescindible para las
          familias americanas. Por contraposición, surge el principio de la
          Customización o personalización. Ya en las décadas de los años 20 y 30
          se realizaban modificaciones de los coches, para usarlos después como
          dragsters, que obviamente en la fecha carecían de demasiada
          reglamentación. Todo esto tuvo principalmente su origen en California,
          tierra de colonos, que durante generaciones forjaron un espíritu
          autosuficiente y pragmático. Se puede decir que fue a principios de la
          década de los 40, cuando el concepto de Hot Rod toma fuerza. Las
          clases menos pudientes carecían de recursos para optar a automóviles
          de altas prestaciones y aquellos herederos de colonos recurrían a la
          compra de vehículos más populares, para luego de emplear su propio
          esfuerzo y medios, convertirlos en prototipos de competición. La meta
          era siempre la velocidad, bajo el prisma de las carreras ilegales.
          Habitualmente estos eventos tenían lugar en el lecho de lagos secos,
          como el de Muroc en California, aunque sin duda uno de los más famosos
          es el lago salado de Benneville al sur de Utah, en el que aún se
          siguen realizando competiciones de dragsters, además de ser una cita
          ineludible para los asaltantes de records. Los Hot Rod de esta época
          son en general roadsters con motor de válvulas laterales Ford Flathead
          V8 o un Ford B 4 cilindros modificado con árbol de levas. Se prescinde
          de la capota, de los guardabarros y en general de aquello superfluo
          que no tenga por objeto incrementar la velocidad. A estos vehículos se
          les conoce como Hiboy. En sus orígenes Hot Rod se identificaba
          generalmente con la “white trash”, un término peyorativo que
          identificaba jóvenes blancos de clase baja. Pero este fenómeno no era
          exclusividad de las 4 ruedas, del mismo modo se desarrolló también en
          el mundo de las motocicletas, que gozaba de incluso peor fama. No era
          nada raro presenciar continuos “piques” en carreras de semáforo a
          semáforo y la prensa se hacía eco de los continuos accidentes
          provocados por rodders.o labore dolorum sed explicabo deleniti ullam
          suscipit.
        </p>
        <hr />
      </article>

      <article class="nota">
        <h3>Evolución</h3>
        <figure>
          <img
            class="fotos notaimg"
            src="../img/historia2.jpg"
            alt="Jeep Wrangler Hot Rod"
          />
        </figure>
        <p>
          No obstante, al ser éste un fenómeno propiamente social, también
          experimenta transformaciones en la misma medida que lo hace ésta. A
          finales de los 40, proliferan talleres especializados en este tipo de
          trabajos. Termina la guerra y con ello el racionamiento de
          combustible, los veteranos regresan con más conocimientos mecánicos
          que con los que se fueron y ya en el comienzo de la década de los 50
          se legalizan las drag strips (pista de dragsters) bajo reglamentación,
          intentando evitar las numerosas muertes de rodders que se producían en
          competiciones clandestinas. Estos jóvenes vestían chaquetas de cuero,
          vaqueros y escuchaban Rock & Roll en sus Mercury, algo que ponía los
          pelos de punta a la tradicional sociedad americana. En 1948 nace la
          publicación “Hor Rod Magazine” y en 1951 se crea la National Hot Rod
          Association (NHRA), lo que contribuye a acercar este fenómeno a un
          público mucho más amplio. Cambia el estilo de los Hot Rod que es un
          poco más refinado. Se conservan guardabarros, las ruedas traseras
          suelen ser de mayor tamaño que las delanteras y con las franjas de los
          neumáticos generalmente pintadas en blanco. Los modelos coupé y sedan
          se hacen populares. Para la segunda mitad de los 50, el negocio de los
          Hot Rod crece significativamente en cuanto a adeptos y al dinero que
          genera. La industria cinematográfica californiana tampoco es ajena a
          este auge y contribuye a potenciarla. Aunque se extiende por casi toda
          la mitad sur de EEUU, el sur de California sigue siendo la meca del
          Hot Rod. Estamos sin duda en el la época dorada del Hot Rod Son muy
          habituales los certámenes de este tipo de coches, evolucionando hacia
          lo que es ahora la Kustom Kulture, en la que no predomina
          exclusivamente el afán de ser más rápido. De hecho, existe rivalidad
          entre ambas tendencias. Los rodders que adquirían los recambios en
          tiendas “speed shop” para modificar ellos mismos sus “carros”,
          mientras que los aficionados al custom recurren a talleres
          especializados para que realicen allí el trabajo mecánico de
          personalización. Los seguidores de los Hot Rod llamaban a estos custom
          “lead barge” (barcaza de plomo) o “lead sled” (trineo de plomo) ya que
          antes de la aparición de la masilla se usaba plomo en su lugar. Al
          contrario, los Hot Rods eran llamados “Shot rods” (bielas quemadas)
          porque no ponían mucho interés en la estética y sólo primaba el
          rendimiento. En la era de los 60 media nación se dedica a tunear sus
          vehículos. Aparecen las llantas de aleación y los cromados, además de
          los frenos de disco. Las ruedas son mucho mayores detrás que delante,
          dotando también al chasis de una inclinación hacia la parte frontal.
          Algunos modelos ya cuentan con pintura metalizada o se pintan llamas
          sinuosas. Se puede decir que aparecen las delicatessen del Hot Rod.
          Diferentes creadores y diseñadores construyen sus modelos para ser
          admirados, partiendo desde cero y fabricando sus chasis y carrocerías
          originales para deleite de los aficionados a concursos de elegancia
          como el Oaklan Roadster Show, en los que se exhiben a veces concept
          cars de estilo futurista. Ed Roth, padre de Rat Fink -la mascota de
          los Rat Rods-, construye seis Rod Shows entre 1959 y 1966. En los 60,
          apareció el VW “Escarabajo” como base para Hot Rods, siendo uno de los
          pocos coches europeos que ha participado con cierto protagonismo en
          esta cultura. Pero sin duda el peor enemigo de los Hot Rod fueron los
          muscle cars. Ante un coche de gama baja al que había que modificar
          para convertirlo en una máquina de correr, muchas veces inconducible
          luego en carretera, estaba la opción de hacerse a precio asequible con
          un deportivo de prestaciones suficientes para que un Hot Rod no fuese
          rival en la pista. Si sumamos la crisis del petróleo de los 70, esto
          provocó que perdiera fuelle la customización de vehículos, mientras
          las competiciones de dragster ya por entonces seguían su propio
          camino.
        </p>
        <hr />
      </article>

      <article class="nota">
        <h3>Rat Rod</h3>
        <figure>
          <img
            class="fotos notaimg"
            src="../img/rat-tod.jpg"
            alt="Jeep Wrangler Hot Rod"
          />
        </figure>
        <p>
          En los 80 surgió lo que se denominó Rat Rod (aunque sin ser del todo
          del agrado de los calificados). Consistía en construir un Hot Rod de
          la forma en la que se hacía en sus orígenes. Igual que se modificaban
          los coches en California en los años 30 y a principios de los 40. Es
          decir, uno mismo y pensando en la velocidad. Un Rat Rod tiene que
          partir de un vehículo de antes de los 50, al que se le despoja de lo
          innecesario. Y entre lo innecesario está por ejemplo la pintura ( o a
          lo sumo una primera imprimación negro mate) y por supuesto toda
          comodidad. Se modifica para aumentar su potencia y se rebaja la
          suspensión (Lowered) mediante los métodos tradicionales, tunneling,
          channeling o sectioning. Apelando a la nostalgia de los primeros
          rodders, sus herederos dicen que estos Hot Rods están hechos para
          correr, no para ser mostrados.
        </p>
      <br>
      </article>

      <!-- <div class="paginacion nota">
        <div class="pag-none">1</div>
        <a class="pag" href="#">2</a>
        <a class="pag" href="#">&gt;&gt;</a>
      </div> -->
    </section>

    <footer class="cuerpo futer">
      <div class="slideRight">
        <img id="animate" src="../img/animate.png" alt="animación">
      </div>
      <span> Programación Web - Fundación PROEM / CUVL. </span>
      <a class="contacto" href="mailto:lucasznta@gmail.com">Diseñado por Lucas Zonta.</a>
    </footer>
  </body>
</html>
